body {
  background-color: #F5F7F9;

}


.nav-link:hover {
  color: #000000 ! important;
}
 .nav-link:hover{
  color: #5869DA !important;
}
.textd{
  text-decoration-color: black !important; 
}
.author:hover{
  color: #5869DA !important;
}
