body {
  background-color: #F5F7F9;
}

.topnav a:hover {
  border-bottom: 3px solid black;
}

.topnav a.active {
  border-bottom: 3px solid black;
}
 .nav-link:hover{
  color: #5869DA !important;
}
.textd{
  text-decoration-color: black !important; 
}
.author:hover{
  color: #5869DA !important;
}